.account {
  text-align: left;
  background-color: white;
  margin-top: 15px;
  border-radius: 10px;
  height: 200px;
  box-shadow: 0 0 15px #000;
  transition: box-shadow 0.2s;
}
.account:hover {
  cursor: pointer;
  box-shadow: 0 0 35px #310050;
}
.account .badge {
  background-color: rgba(31, 0, 80, 0.8);
  position: relative;
  bottom: 15px;
  left: 25px;
  padding: 13px 35px;
  font-size: 35px;
  float: inline-start;
}
.account .content {
  text-align: right;
  padding: 55px 10px 0 0;
  border-radius: 10px;
  font-size: 2em;
}
.account .content p.small {
  font-size: 17px;
}

/*# sourceMappingURL=Account.css.map */
