/* Debug */
#content {
  background-color: blueviolet;
}

#header {
  background-color: brown;
}

#wrapped {
  background-color: chocolate;
}

/* /Debug */
#Wrapper, #Wrapper > .row, #side-bar {
  height: 100%;
}

#side-bar, #content {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

#side-bar {
  background-color: #310050;
  /* Small and extra small screen */
  /* Medium and large screen */
}
#side-bar #user-infos {
  background-color: #150025;
}
#side-bar #exit-container {
  position: sticky;
  top: 100%;
}
@media screen and (max-width: 990px) {
  #side-bar {
    padding: 5px;
    width: 80px;
  }
}
@media screen and (min-width: 990px) {
  #side-bar {
    padding: 10px;
    width: 300px;
  }
  #side-bar #user-infos {
    width: 100%;
    height: 150px;
    padding: 10px 0;
    border-radius: 5px;
    color: #cccccc;
  }
  #side-bar #user-infos h4 {
    font-weight: bold;
  }
}

#content {
  height: 100%;
}
#content #header {
  height: 50px;
  color: #cccccc;
  background-color: #310050;
}
#content #header h1 {
  margin: 0;
  padding: 5px 0;
}
#content #wrapped {
  height: calc(100% - 50px);
  background-color: #cccccc;
  padding: 20px;
}
@media screen and (max-width: 990px) {
  #content {
    width: calc(100% - 80px);
  }
}
@media screen and (min-width: 990px) {
  #content {
    width: calc(100% - 300px);
  }
}

/*# sourceMappingURL=Wrapper.css.map */
