@import 'variables';

/* Debug */


#content { background-color: blueviolet; }

#header { background-color: brown; }

#wrapped { background-color: chocolate; }

/* /Debug */

#Wrapper, #Wrapper > .row, #side-bar {
    height: 100%;
}

#side-bar, #content {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

#side-bar {
    background-color: $light-violet;

    #user-infos {
        background-color: $dark-violet;
    }

    #exit-container {
        position: sticky;
        top: 100%;
    }
    /* Small and extra small screen */
    @media screen and (max-width: $break-small) {
        padding: 5px;
        width: 80px;
        // Debug
        // background-color: black;
    }

    /* Medium and large screen */
    @media screen and (min-width: $break-small) {
        padding: 10px;
        width: 300px;

        #user-infos {
            width: 100%;
            height: 150px;
            padding: 10px 0;
            border-radius: 5px;
            color: $light-grey;

            h4 {
                font-weight: bold;
            }
        }
    }
}

#content {
    height: 100%;
    #header {
        height: 50px;
        color: $light-grey;
        background-color: $light-violet;
        h1 {
            margin: 0;
            padding: 5px 0;
        }
    }
    #wrapped {
        height: calc(100% - 50px);
        background-color: $light-grey;
        padding: 20px;
    }

    @media screen and (max-width: $break-small) {
        width: calc(100% - 80px);
    }

    @media screen and (min-width: $break-small) {
        width: calc(100% - 300px);
    }
}